$brandcolor1: #ffe641;
$brandcolor2: #006CB1;
$brandcolor3: #F00076;
$brandcolor4: #EDF8FF;
$colorblack: #000;
* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body {
    background-color: $brandcolor4;
    font-family: 'Rincoln' 'swansea';
}
header {
    width: 100%;
    padding: 20px 0;
  }
  h1 {
    font-family: 'rincoln';
    font-size: 2.9863rem;
    line-height: 3rem;
    color: $brandcolor2;
  }
  p {
    font-family: 'swansea';
    font-size: 1.2rem;
    line-height: 1.325rem;
  }
  .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-bottom: 0.5rem;
  }

.navbar-nav {
    color: $colorblack;

    .nav-item {
        margin-left: .9375rem; 

        .nav-link {
            color: $colorblack; 
            font-weight: bold; 
            text-transform: uppercase; 
            padding: .625rem .9375rem; 
            transition: color 0.3s ease; 
            &:hover {
                color: $brandcolor2; 
                text-decoration: none; 
            }

            &.active {
                color: $brandcolor3; 
            }
        }
    }
}
.navbar-brand {
    width: auto; 
    height:7rem; 
    img {
        width: auto;
        height: 100%;
        object-fit: contain; 
    }
}
.navbar {
    background-color: $brandcolor4;
}
.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'swansea';
    font-size: small;
}
.list {
    margin-right: 1.25rem; 
}
.list-items {
    font-family: 'swansea';
}
.footer-text {
    margin-left: 5rem;
    font-family: 'swansea';
}
.footer-text__active {
    margin-left: 5rem;
    
}





footer {
    background-color: $brandcolor2; 
    color: $brandcolor4; 
    padding: 2.5rem; 
    text-align: start; 
    font-family: 'Rincoln', 'swansea';
    li {
        list-style: none;
        
        
    } 

    a {
        color: $brandcolor4; 
        text-decoration: none; 
        transition: color 0.3s ease; 

        &:hover {
            color: $brandcolor3; 
        }
    }

    .footer-content {
        max-width: 1200px; 
        margin: 0 auto; 
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap:1.25rem;
    }
    .contact-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

    }
    .cta {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: start;
        margin-top: 1.25rem; 
        font-family: 'swansea';
        background-color: $brandcolor4;
        color: $colorblack;
        border-radius: 1.875rem;
        gap: .625rem;
        border: none;
        padding: 0.5rem;
        cursor: pointer;
        transition: background-color 0.3s;
        
    }
    .icon-circle {
        background-color: $brandcolor3;
        color: $brandcolor4;
        border-radius: 50%;
        padding: .625rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2rem;
        height: 2rem;
    }
    
    }
    
    @media (max-width: 768px) {
        .footer-content {
            flex-direction: column; 
            align-items: center; 
            justify-content: center;
        }

        .contact-container {
            align-items: center; 
            text-align: center;
            justify-content: center; 
        }

        
    }

    @media (max-width: 576px) {
        .footer-content {
            padding: 10px; 
            align-items: center;
            justify-content: center;
        }

        .contact-container {
            align-items: center; 
            text-align: center; 
            justify-content: center;
        }

        
    }
    .container .row .col-md-4 .card {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 0 3.75rem 0 3.75rem !important; 
        margin-bottom: 10rem; 
      }
      .card-title1, .card-title2 {
        margin: 0;
        font-family: 'rincoln';
        font-size: 1.62rem;
      }
      .card-title1 {
        background-color: $colorblack;
        border-radius: 3.75rem;
        color: $brandcolor4;
        padding: 0.5rem;
      }
      .card-title2 {
        border: .0625rem solid $brandcolor4;
        padding: 0.5rem;
        border-radius: 3.75rem;
        color: $brandcolor4;
        
      }
      
      .card-img-top {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      
      .card-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
      }
      
      .top-left {
        align-self: flex-start;
        top: .625rem;
        left: .625rem;
      }
      
      .middle-circle {
        position: absolute;
        top: .625rem;
        right: .625rem;
        background-color: black;
        border-radius: 50%;
        padding: 10px;
        width: 2.8125rem;
        height: 2.8125rem;
        display: flex;
        align-items: center;
        justify-content: center;
        
      }
      
      .bottom-left {
        position: absolute;
        bottom: .625rem;
        left: .625rem; 
      }
      
      .bottom-right {
        align-self: flex-end;
      }
      .bi-star-fill {
        color: $brandcolor1;
      }